{% extends 'base.html' %}

{% block body %}
    <body>
    <div class="row g-3">
        <div class="col-md-6">
          <label for="link15Mins" class="form-label">Link 15-Min</label>
          <input type="url" class="form-control" id="link15Mins">
        </div>
        <div class="col-md-6">
          <label for="link1Hour" class="form-label">Link 1-Hour</label>
          <input type="url" class="form-control" id="link1Hour">
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="comments" style="height: 100px"></textarea>
                <label for="comments">Comments</label>
              </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <label class="form-label d-block">Risk Reward Ratio</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-profit" type="radio" name="riskRewardRatio" id="zero" value="0">
                    <label class="form-check-label" for="zero">0</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-profit" type="radio" name="riskRewardRatio" id="minusOne" value="-1">
                    <label class="form-check-label" for="minusOne">-1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-profit" type="radio" name="riskRewardRatio" id="another" value="1" checked>
                    <label class="form-check-label" for="another">another</label>
                </div>
        </div>
            <div class="col-md-6">
                <label class="form-label d-block">TradingView Screen</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-screen" type="radio" name="tradingViewScreen" id="screen-1" value="1">
                    <label class="form-check-label" for="screen-1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-screen" type="radio" name="tradingViewScreen" id="screen-2" value="2" checked>
                    <label class="form-check-label" for="screen-2">2</label>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-info" id="previewButton" onclick="preview()">preview</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-info" id="reportButton" onclick="report()">report</button>
        </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" id='submitInput' onclick="submit()">Submit</button>
        </div>
      </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
    </body>
{% endblock %}
